# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

objetives:
+ List popular languages for Data Science
+ lists of libraries for data science
+ data science tools table
+ arithmetic expressions with python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia
4. SQL
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Data.table
6. Caret
7. Tidyverse

|Data Science Tools|
|------------------|
| Python |
| R |
| SQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#his will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Andres SIlva